<mat-card appearance="outlined">
    <mat-card-content>
        
        <mat-form-field class="example-full-width">
            <mat-label>Meal name</mat-label>
            <input [(ngModel)]="meal" required type="text" matInput placeholder="Ex. 200">
        </mat-form-field>

        <div class="example-button-row">
            <button (click)="addFood()" mat-button>Add food</button>
        </div>

        @for(item of foodsInEachMeal; track item.id) {
            <mat-card class="food" appearance="outlined">
                <mat-card-content>
                    <app-food-search [foods]="foods" (selectedFood)="onSelectedFood($event)"></app-food-search>
                    <app-food-form [food]="selectedFood"></app-food-form>
                </mat-card-content>
            </mat-card>           
        }

              
    </mat-card-content>
</mat-card>