<form class="example-form" [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Quantity</mat-label>
            <input type="number" (keyup)="updateQuantity($event)" matInput placeholder="Ex. 200" formControlName="quantity">
            
        </mat-form-field>


        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert">
            <mat-error data-testid="required-quantity" *ngIf="quantity.errors?.['required']">
                Quantity is necessary
            </mat-error>
            <mat-error data-testid="regex-quantity-error" *ngIf="quantity.errors?.['pattern']">
                Quantity is invalid
            </mat-error>
        </div>


        {{selectedFood!.unity}}
    </div>
</form>
